<template>
  <div class="home">
    <h1 style="color: #5dcb79">Purchase beverage from Nerdekollektivet!</h1>
    <div v-if="getAddress.length == 0">
        <h1 style="color: red;">Fridge is booting ...</h1>
    </div>
    <div v-else>
    <div v-if="doShowSpinner != ''" style="position: absolute; top: 100px;
            left: 50%; margin-left: -300px; width: 600px;
             background-color: #1b1b1b; min-height: 400px;">
        <h1 style="color: white;">Processing payment...
          <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>
          </h1>

    </div>
    <div v-if="getPaymentReceived != ''" style="position: absolute; top: 100px;
        left: 50%; margin-left: -300px; width: 600px;
         background-color: #1b1b1b; min-height: 400px;">
        <h1 style="color: white;">{{ getPaymentReceived }}</h1>
        <img src="https://j.gifs.com/yoqG4g.gif"/>
    </div>
    <div v-if="doShowRefill != ''" style="position: absolute; top: 100px;
        left: 50%; margin-left: -300px; width: 600px;
         background-color: #1b1b1b; min-height: 400px;">
        <img src="https://media.giphy.com/media/bYvpG2zbinh3W/giphy.gif"/>
        <h1 style="color: white;">More refreshments purchased!!</h1>
        <p><span style="color: white; font-size: 80%" class="text-monospace">Transaction ID: {{ doShowRefill }}</span></p>
    </div>
    <qrcode v-bind:value="getQrString"
        :options="qrCodeOptions"></qrcode>
    <h2 style="color: white; margin-top: 0.5em;" >
        Price {{ fiatPriceHuman }} NOK <span style="font-size: 80%">
        ({{ bchPriceHuman }} BCH)</span></h2>
        <h4 style="margin-top: 0.5em; color: #efefef;">Purchasing more refreshments after {{ remainingUnits }} 🥤 sales.</h4>
        <h4 style="color: #efefef;">Fridge balance {{ nokBalance | roundFiat }} NOK, refill after {{ nokNeeded | roundFiat }} more NOK.</h4>
</div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

Vue.filter('roundFiat', function (value: number) {
    return Math.round(value * 100) / 100;
});

export default class Home extends Vue {

  private qrCodeOptions = {
    width: 500,
    color: { light: '#5dcb79', dark: '#00000000' }
  };

  setNewBalance = () => {
    this.$store.commit('setBchBalance', {balance:0.01})
  }

  get bchPrice() {
    return this.$store.getters.bchUnitPrice
  }

  get bchPriceHuman() {
    return Math.round(this.$store.getters.bchUnitPrice * 1000000) / 1000000;
  }

  get fiatPriceHuman() {
    return Math.round(
        (this.$store.getters.bchUnitPrice * this.$store.state.bchNokPrice) * 100) / 100;
  }

  get bchBalance() {
    return this.$store.state.bchBalance
  }
  get nokBalance() {
    return this.$store.getters.getNokBalance
  }
  get remainingUnits() {
    return this.$store.getters.remainingUnits
  }
  get nokNeeded() {
    return this.$store.getters.nokNeeded
  }
  get getAddress() {
    return this.$store.state.fridgeAddress
  }
  get getQrString() {
    return this.$store.getters.qrString
  }

  get getPaymentReceived() {
    return this.$store.state.paymentReceived
  }

  get doShowSpinner() {
    return this.$store.state.showSpinner;
  }

  get doShowRefill() {
    return this.$store.state.showRefill;
  }
}
</script>
